@import "_color";

// 修改 swiper pagination
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 20px);
}

.swiper-pagination {
  &-bullet {
    width: 32px;
    height: 4px;
    background: white;
    opacity: 1;
    border-radius: 2px;

    &-active {
      width: 64px;
      background: var(--primary-100);
      border-radius: 2px;
    }
  }
}
